@import 'variables.css';

*{
    font-family: 'Inter', sans-serif;
    /*margin: 0 auto;*/
}
.container{
    width: min(100% - 32px, 1600px);
    margin: 0 auto;
}
.custom-message-large .anticon {
    font-size: 20px /* Размер иконки */
}
.ant-message-notice-content {
    padding: 20px 30px; /* Увеличивает отступы внутри сообщения */
    font-size: 18px;
    border-radius: 12px; /* Опционально: скругление */
    display: flex;
    align-items: center;
}
a{
    text-decoration: none;
    /*border: none;*/
}
